nav{
    display: flex;
    justify-content: space-around;
}

.top-menu{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.top-menu h3{
    text-decoration: none;
    font-weight: 400;
    color: black;
}